* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: sans-serif;
}

body {
    font-size: 18px;
    font-weight: 400;
    line-height: 31.5px;
}

.container-header {
    margin: 0 auto;
    width: 635px;
}

.container-main {
    margin: 0 auto;
    width: 856px;
}

.content-links li {
    display: inline-block;
}

.content-links ul {
    padding: 32px 0;
    width: 635px;
    /* display: flex;
    justify-content: space-between; */
    margin: 0 auto;
    line-height: 24.3px;
    text-transform: capitalize;
}

.content-links a {
    text-decoration: none;
    color: #000000;
}

.content-links_list {
    padding-right: 72px;
}

.content-links_libraries {
    padding-right: 0px;
}

.content-frame {
    width: 100%;
    background-color: #00BDC9;
    text-align: center;
    padding: 92px 0;
}

.content-info {
    padding: 88px 0;
}

.content-info-head {
    font-size: 48px;
    font-weight: 600;
    line-height: 64.8px;
    text-align: center;
}

.content-info-div {
    margin: 40px 0;
}

.content-info-text {
    font-size: 21px;
    font-weight: 500;
    text-align: left;
}

.content-info-text span {
    color: #00BDC9;
    font-size: 21px;
    font-weight: 500;
    text-align: left;
}

.content-info-list {
    line-height: 27px;
    padding-left: 20px;
    color: #161616;
    margin-top: 24px;
}

.content-info-button {
    display: block;
    width: 145px;
    height: 44px;
    background: #04959E;
    border: 0px;
    text-align: center;
    margin: 10px auto;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
}

.content-footer-text {
    line-height: 27px;
    text-align: center;
    padding: 16px 0;
    border-top: 3px solid #161616;
}